@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
@keyframes fundo {
     0% {
      background-position: 100% 50%;
    }
    50%{background-position: 50% 50%;}
    100% {
      background-position: 0% 50%;
    }
    
} 
header{
    color:#ec923e ;

    background: linear-gradient(342deg,rgb(253, 169, 90) 8%, rgba(133,82,35,1) 46%, rgba(0,0,0,1) 88%);
    background-size: 200%  100%;
    animation-name:fundo;
    animation-duration:3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}


/*
cores #E67C16 amarelo
cores #665B0E marrom
*/
@media screen and (min-width:0px) and (max-width:1500px) {
    header{
    color:#ec923e ;
    background-size: 100%  100%;
    background: linear-gradient(342deg, rgba(96,149,245,1) 3%, rgba(236,146,62,1) 8%, rgba(133,82,35,1) 46%, rgba(0,0,0,1) 88%);
    
    background: linear-gradient(342deg,rgb(253, 169, 90) 8%, rgba(133,82,35,1) 46%, rgba(0,0,0,1) 88%);
    background-size: 200%  100%;
    animation-name:fundo;
    animation-duration:3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
#burguer{
    display: block;
    text-align: center;
}
#burguer:hover{
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: #755A24;
}
h1{
    text-align: center;
}
menu{
  display: none;  
}
ul{
   list-style-type: none;
    display:inline;
}
li{  padding: 15px;
    display: inline;
}
a{
    color:#ec923e ; 
    text-decoration: none;
}
a:hover{
    border: black;
    transition: .3s, border 2s;
    transition: 1s;
    border-radius: 10px;
    color: black;
    background-color: #e2b14f;
}
body{
    background-image: url(../imagem/fundo\ capa.jpg);
}
main{
    padding: 10px;
    text-align: justify;
    margin: auto;
    width: 70vw;
    color: #ec923e;
    background-color: black;
}
#p1{
}
#perfil{
display: inline;
    width: 70px;
}
.container{
     display: flex;
}
#css{
    width: 70px;
}
#html{
    width: 45px; 
    display: inline-block;
}
#insta{
    width: 50px;
}
#insta:hover{
    cursor: pointer;
    border: black;
    transition: .3s, border 2s;
}
#GithHub{
    background-color: white;
    width: 50px;

}
.card{
    height: 150px;
    width:100%;
    background-color: aqua;
}
.v-button{
    
    display: flex;
    align-items: flex-start;
}








}
@media screen and (min-width:1500px) {
    header{
        color:#ec923e ;
        background-color: black;
    }
    #burguer{display: none;}
    h1{
        text-align: center;
    }
    menu{
      display: block;  
    }
    ul{
       list-style-type: none;
        display:inline;
    }
    li{  padding: 15px;
        display: inline;
    }
    a{
        color:#ec923e ; 
        text-decoration: none;
    }
    a:hover{
        border: black;
        transition: .3s, border 2s;
        transition: 1s;
        border-radius: 10px;
        color: black;
        background-color: #e2b14f;
    }
    body{
        background-image: url(../imagem/fundo\ capa.jpg);
    }
    main{

        font-size: 25pt;
        padding: 10px;
        text-align: justify;
        margin: auto;
        width: 85vw;
       
        color: #ec923e;
        background-color: black;
    }
    #p1{
    }
    #perfil{
    display: inline;
        width: 20vw;
    }
    .container{
         display: flex;
    }
    #css{
        width: 20vw;
    }
    #html{
        width: 15vw;
        display: inline-block;
    }
    #insta{
        width: 50px;
    }
    #insta:hover{
        cursor: pointer;
        border: black;
        transition: .3s, border 2s;
    }
    #GithHub{
        background-color: white;
        width: 50px;
    }
    #h1{
        background-size: contain;
        background-position: center center  ;
        background-image: url(../imagem/gol.jpeg);
        font-family:'Times New Roman', Times, serif;
        text-align: center;
        color: black;
        
    }
}